<div class="form-group">
    <label for="file-${RANDOM}-button">Arquivo</label>
    <div class="dynamic-input-upload">
        <div class="component-holder ng-scope" id="crn-button-${RANDOM}">
            <div ng-if="!vars.dynamicfile${RANDOM}">
                <input id="file-${RANDOM}-input" type="text" ng-model="vars.dynamicfile${RANDOM}" class="hidden">
                <button id="file-${RANDOM}-button" class="btn k-button btn-default" ng-click="" xattr-fullsize="" xattr-theme="btn-default" xattr-disabled="" ngf-drop="" ngf-select="" ngf-change="cronapi.internal.uploadFile('vars.dynamicfile${RANDOM}', $file, 'uploadprogress${RANDOM}', undefined, $invalidFiles)" ngf-max-size="5MB" ngf-pattern="'*.*'" ngf-accept="'*.*'">                                    
                    <span>Clique ou arraste um arquivo</span>
                </button>
                <div class="progress hidden" data-type="bootstrapProgress" id="uploadprogress${RANDOM}">
                    <div class="progress-bar" role="progressbar"></div>
                </div>
            </div>
            <div ng-if="vars.dynamicfile${RANDOM}" class="upload-image-component-attribute ng-scope">
                <div ng-bind-html="cronapi.internal.generatePreviewDescriptionByte(vars.dynamicfile${RANDOM}, undefined)" class="ng-binding"></div>
                <div class="btn-container">
                    <a href="javascript:void(0)" ng-click="cronapi.internal.downloadFileEntity(vars,'dynamicfile${RANDOM}', undefined, undefined)">Baixar</a>
                    <span class="cancel-btn" ng-click="vars.dynamicfile${RANDOM} = null">Cancelar</span>
                </div>
            </div>
        </div>
    </div>
</div>
