<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Context>
    <Resource accessToUnderlyingConnectionAllowed="false" cloudDatabaseKey="" driverClassName="org.postgresql.Driver" logAbandoned="true" name="jdbc/contdb_dev" password="7f6ad385d7408f94" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" schema="contdb_dev" type="javax.sql.DataSource" url="jdbc:postgresql://srv-captain--florindoapp-db:5432/florindo_db?currentSchema=contdb_dev&amp;charSet=UTF-8" username="postgres"/>
    <Resource accessToUnderlyingConnectionAllowed="false" cloudDatabaseKey="" driverClassName="oracle.jdbc.OracleDriver" logAbandoned="true" name="jdbc/oracle_dev" password="jBb9b557p4" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" schema="NEWFRD" type="javax.sql.DataSource" url="jdbc:oracle:thin:@192.168.11.218:1521/ORCL" username="CONTAGEM"/>
    <Resource accessToUnderlyingConnectionAllowed="false" cloudDatabaseKey="" driverClassName="org.postgresql.Driver" logAbandoned="true" name="jdbc/contdbapp_dev" password="7f6ad385d7408f94" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" schema="contdbapp_dev" type="javax.sql.DataSource" url="jdbc:postgresql://srv-captain--florindoapp-db:5432/florindo_db?currentSchema=contdbapp_dev&amp;charSet=UTF-8" username="postgres"/>
    <Profile value="DEV"/>
    <Profile value="PROD"/>
    <Resource accessToUnderlyingConnectionAllowed="false" cloudDatabaseKey="" driverClassName="org.postgresql.Driver" logAbandoned="true" name="jdbc/contdb_prod" password="7f6ad385d7408f94" profile="PROD" removeAbandoned="false" removeAbandonedTimeout="60" schema="contdb_prod" type="javax.sql.DataSource" url="jdbc:postgresql://192.168.11.155:5432/florindo_db?currentSchema=contdb_prod&amp;charSet=UTF-8" username="postgres"/>
    <Resource accessToUnderlyingConnectionAllowed="false" cloudDatabaseKey="" driverClassName="oracle.jdbc.OracleDriver" logAbandoned="true" name="jdbc/oracle_prod" password="jBb9b557p4" profile="PROD" removeAbandoned="false" removeAbandonedTimeout="60" schema="NEWFRD" type="javax.sql.DataSource" url="jdbc:oracle:thin:@192.168.11.218:1521/ORCL" username="CONTAGEM"/>
    <Resource accessToUnderlyingConnectionAllowed="false" cloudDatabaseKey="" driverClassName="org.postgresql.Driver" logAbandoned="true" name="jdbc/contdbapp_prod" password="7f6ad385d7408f94" profile="PROD" removeAbandoned="false" removeAbandonedTimeout="60" schema="contdbapp_prod" type="javax.sql.DataSource" url="jdbc:postgresql://192.168.11.155:5432/florindo_db?currentSchema=contdbapp_prod&amp;charSet=UTF-8" username="postgres"/>
</Context>
